extends typescript

snippet rfc "react functional component"
	import React from "react"

	type ${1:Component}Props = {
		$2
	}

	export const ${1:Component} = ({$3}: ${1:Component}Props) => {
		return (
			<div>
				$4
			</div>
		)
	}

snippet log "console.log"
	console.log($1)
