[credential "https://github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential

[includeIf "gitdir:~/dev/personal/**"]
  path = ~/.config/git/personal

[includeIf "gitdir:~/dev/work/eniro/**"]
  path = ~/.config/git/eniro

[includeIf "gitdir:~/dev/work/cygni/**"]
  path = ~/.config/git/cygni

[includeIf "gitdir:~/.dotfiles/**"]
  path = ~/.config/git/personal

[color]
  ui = auto
[alias]
  lg = log --graph --date=relative --pretty=tformat:'%Cred%h%Creset -%C(auto)%d%Creset %s %Cgreen(%an %ad)%Creset'
  oops = commit --amend --no-edit
  review-local="!git lg @{push}.."
  uncommit = reset --soft HEAD~1
  reword = commit --amend

[core]
	editor = nvim --wait
  pager = cat

[diff]
  tool = nvim

[difftool "vscode"]
  cmd = nvim --wait --dif $LOCAL $REMOTE

[merge]
  tool = nvim

